* {
  font-family: 'Barlow', sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  background-color: rgba(253,253,253,1);
}

.btn {
  display: block;
  text-decoration: none;
  width: 125px;
  height: 25px;
  line-height: 25px;
  background-color: var(--blue-font);  
  text-align: center;
  padding: 10px 5px;
  border-radius: 25px;
  color: white;
  font-weight: 500;
}

a { 
  text-decoration: none;
  color: var(--gray-font);
}