* {
  font-family: 'Barlow', sans-serif;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  background-color: rgb(241, 241, 241);
}

.btn {
  text-decoration: none;
  width: var(--size-150);
  height: var(--size-50);
  background-color: var(--blue-font);  
  text-align: center;
  padding: 15px 25px;
  border-radius: 25px;
  color: white;
  font-weight: 500;
}