/* Only applies while screen is 1000px or less */
@media screen and (max-width: 1000px) {
  .empowering-flex {
    flex-direction: column;    
  }
  .key-benefits {
    margin-top: 400px;
  }
  .icon-flex-container {
    margin-top: -180px;
  }
  
}

/* Only applies while screen is 768px or less */
@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"]{
    display: block;
  }

  [aria-expanded="false"] ~ .second-header-right {
    display: none;
  }

  [aria-expanded="true"] ~ .second-header-right{
    display: block;    
    position: absolute;  
    right: 0;
    top: 77px;
    background-color: white;
    background: linear-gradient(165deg, rgba(249,250,252,1) 0%, rgb(241, 241, 241) 100%);
    width: 100%;
    text-align: right;
  }

  [aria-expanded="true"]~ .second-header-right ul{
    flex-direction: column;
    padding-right: 10px;
    align-items: flex-end;
  }

  [aria-expanded="true"]~ .second-header-right ul .btn{

    color: var(--dark-gray);
    font-size: var(--size-18);
    font-weight: 600;
    padding: 0;
    margin: 0;
    background-color: transparent;
    text-align: end;
  }

  [aria-expanded="true"] ~ ul li {
    margin-right: 20px;
    color: #666;

    display: block;
    margin: 0px 0px 0px var(--size-30);  
    color: var(--dark-gray);
    font-size: var(--size-18);
    font-weight: 600;
  }
 
   .circles {
   flex-direction: column; 
  }
  .circles li hr {
    display: none;
  }

  .circles li{
    display: flex;    
    justify-content:flex-start;
    align-items: center;
  }

  .outer-circle {  
    display: inline-block;  
    margin: 10px 10px;
  }

  .focus-person {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

    
.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; 
}

.pricing-grid {
  margin-left: 20px;
  margin-right: 20px;
}

}

/* Only applies while screen is 480px or less */
@media screen and (max-width: 480px) {
  .empowering-flex {
    flex-direction: column;    
  }
  .key-benefits {
    margin-top: 0px;
  }
  .icon-flex-container {
    display:none;
    margin-top: -180px;
  }

  .footer-grid {
    margin-left: 30px;
    margin-right: 30px;
    gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  }

  .form-row {
    flex-wrap: wrap;
  }
 
}



