:root {
--dark-blue: rgb(55, 125, 255);
--light-blue: rgb(236, 242, 255);
--black: rgb(30, 32, 34);
--green: rgb(0, 201, 166);
--blue-font: rgb(58, 127, 255);
--dark-gray: rgb(106, 121, 138);

--success:#64ECF5;
--danger: #FF8B8D;

--size-1:0.0625rem;
--size-8: 0.475rem;
--size-10: 0.625rem;
--size-14: 0.875rem;
--size-16: 1rem;
--size-18: 1.125rem;
--size-20: 1.25rem;
--size-30: 1.875rem;
--size-40: 2.5rem;
--size-50: 3.125rem;
--size-75: 4.6875rem;
--size-100: 6.25rem;
--size-150: 9.375rem;
}

.section-1 {  
  background: linear-gradient(170deg, rgba(249,250,252,1) 0%,
                                      rgba(246, 246, 246, 0.986) 63%,
                                      rgba(255,255,255,1) 63%,
                                      rgba(253,253,253,1) 63%, 
                                      rgba(253,253,253,1) 100%);
  height: 900px;  
}


body {
  margin: 0px; ;
}

header {
  padding-left: 25px;
  padding-right: 75px;
}


.top-header {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--size-20);  
}

.top-header-left {
  display: inline;
  color: var(--dark-gray);
  margin-left: var(--size-10);
  margin-top: var(--size-10);
  margin-right: auto;
}

.top-header-right {
  display: inline;
  color:var(--dark-gray);
  margin-top: var(--size-10);
}

.inline-item {
  display: inline; 
  margin-right: 7px;
  margin-left: 7px;
}

.top-header-left .fas {  margin-right: 5px; }

.inline-item .fas {
  margin-left: 3px;
}

.second-header {
  display: flex;
  align-items: center;
}

.second-header-left{ margin-right: auto;}

.second-header-left .front-logo{
  box-sizing: border-box;
  color:var(--blue-font);
  width: 185px;  
}



.nav-link {
  text-decoration: none;
  color: var(--dark-gray);
}

.second-header .second-header-right ul {
  display: flex;
  align-items: center;
}
.second-header .second-header-right ul li:nth-child(1) a {color: var(--blue-font);}

.second-header .second-header-right ul li {
  display: inline-block;
  margin: 0px var(--size-14);  
  color: var(--dark-gray);
  font-size: var(--size-18);
  font-weight: 500;
}

.empowering-section{
  max-width: 400px;
  margin-top: 200px;
  margin-left: var(--size-20);
}

.empowering-section h1 {
  font-size: 45pt;
}

.empowering-section p {
  font-size: 18pt;
  margin-bottom: var(--size-30);
}

.empowering-section a .fa-play-circle {
  margin-right: var(--size-8);
}

.empowering-section .btn {
  margin-right: var(--size-14);
}

.learn-more {
  text-decoration: none;
  color: var(--blue-font);
  font-size: 15pt;
  font-weight: 700;
}

.learn-more .fa-angle-right { margin-left: 5px;}


.icon-container {
  position: absolute;  
  padding: 20px;
  background-color: white;
  border-radius: 50%;
}

.icon-small, .icon-large{   background-color: white;  }

.icon-small { height: 55px; }
.icon-large { height: 70px; }


.google-icon {  
  right: 550px;
  top: 250px;
}

.atlassian-icon {  
  right: 340px;
  top: 330px;  
}

.asana-icon {
  right: 100px;
  top: 275px;
}

.paypal-icon {
  right: 550px;
  top: 500px;
}

.weave-icon {
  right: 230px;
  top: 500px;
}

.google-drive-icon {
  right: 400px;
  top: 625px;
}

.calendar-icon {
  right: 100px;
  top: 700px;
}


.key-benefits {
  text-align: center;
}

.key-benefits h2 {
  font-size: 36pt;
 margin-left:auto;
 margin-right:auto;
}

.key-benefits p {
  max-width: 750px;
  font-size: 16pt;
  margin: 0px auto;
  padding: initial 5px;
  margin-bottom: var(--size-30);
  color: var(--dark-gray);
  font-weight: 300;  
}


.grid-cards {  
  display: grid;  
  grid-template-columns: repeat(auto-fit, minmax(200px, 290px));
  gap: var(--size-20);
  justify-content: center;  
}

.cards {
  text-align: start;
  max-width: 270px;  
  font-size: 12pt;
  padding: 15px;
  box-shadow: -10px 10px 16px 10px rgb(251, 251, 251);
}

.cards h3 {
  margin-top: var(--size-30);
  font-size: 20pt;
}

.cards h3 > span { 
  font-size: 14pt;
  font-weight: 500;
  background-color: var(--green);
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
}

.cards .card-icons {
  text-align: left;
  max-height: 75px;
  max-width: 75px;
}

.cards:nth-child(4) p {
  margin-bottom: 55px;
}