:root {
--dark-blue: rgb(55, 125, 255);
--light-blue: rgb(236, 242, 255);
--black: rgb(30, 32, 34);
--green: rgb(0, 201, 166);
--blue-font: rgb(58, 127, 255);
--dark-gray: rgb(106, 121, 138);

--success:#64ECF5;
--danger: #FF8B8D;

--size-1:0.0625rem;
--size-8: 0.475rem;
--size-10: 0.625rem;
--size-14: 0.875rem;
--size-16: 1rem;
--size-18: 1.125rem;
--size-20: 1.25rem;
--size-30: 1.875rem;
--size-40: 2.5rem;
--size-50: 3.125rem;
--size-75: 4.6875rem;
--size-100: 6.25rem;
--size-150: 9.375rem;
}

.section-1 {  
  background: linear-gradient(173deg, rgba(56,56,59,-29.577) 0%, rgb(248, 249, 251) 60%,rgba(79,79,83,0) 61%);
  height: 800px;  
}


body {
  margin: 0px;
}

header {
  padding-left: 25px;
  padding-right: 75px;
}


.top-header {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--size-20);  
}

.top-header-left {
  display: inline;
  color: var(--dark-gray);
  margin-left: var(--size-10);
  margin-top: var(--size-10);
  margin-right: auto;
}

.top-header-right {
  display: inline;
  color:var(--dark-gray);
  margin-top: var(--size-10);
}

.inline-item {
  display: inline; 
  margin-right: 7px;
  margin-left: 7px;
}

.top-header-left .fas {  margin-right: 5px; }

.inline-item .fas {
  margin-left: 3px;
}

.second-header {
  display: flex;
  align-items: center;
}

.second-header-left{ margin-right: auto;}

.second-header-left .front-logo{
  box-sizing: border-box;
  color:var(--blue-font);
  width: 185px;  
}



.nav-link {
  text-decoration: none;
  color: var(--dark-gray);
}

.second-header .second-header-right ul {
  display: flex;
  align-items: center;
}
.second-header .second-header-right ul li:nth-child(1) a {color: var(--blue-font);}

.second-header .second-header-right ul li {
  display: inline-block;
  margin: 0px var(--size-10);  
  color: var(--dark-gray);
  font-size: var(--size-18);
  font-weight: 500;
}

.empowering-section{
  max-width: 350px;
  margin-top: 200px;
  margin-left: var(--size-20);
}

.empowering-section h1 {
  font-size: 35pt;
}

.empowering-section p {
  font-size: 13pt;
  margin-bottom: var(--size-30);
}

.empowering-section a .fa-play-circle {
  margin-right: var(--size-8);
}

.empowering-section .btn {
  margin-right: var(--size-14);
}

.empowering-section .learn-more {
  text-decoration: none;
  color: var(--blue-font);
  font-weight: 600;
}

.empowering-section .learn-more .fa-angle-right { margin-left: 5px;}


.icon { 
  height: 75px;
  position: absolute; 
  background-color: white;
  border-radius: 50%;
  padding: 15px;
}

.google-icon {  
  right: 500px;
  top: 250px;
}

.atlassian-icon {  
  right: 305px;
  top: 300px;
}

.asana-icon {
  right: 100px;
  top: 275px;
}

.paypal-icon {
  right: 500px;
  top: 500px;
}

.weave-icon {
  right: 200px;
  top: 500px;
}

.calendar-icon {
  right: 100px;
  top: 650px;
}


